:root {
    --blur: 1.2600000000000005px;
    --spread: -0.9000000000000004px;
    --horiz: 0.5162187927159418px;
    --vert: 0.7372368398600925px;
}

.cs-shadow{
   
}

.cs-inset {
  
}

body{
    font-family: sans-serif;
    padding:2.5%;
    background-color: lightskyblue;
    transition: all 0.3s ease-in-out;
}
.column{
    width:100%;
}

footer{
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem;
}
nav {
    background-color:#f1f1f1;
    padding:10px;
    border-radius:15px;
    box-shadow: calc(clamp(0px, var(--horiz), 2px)) calc(clamp(0px, var(--vert), 2px)) 2px calc(var(--spread)) rgba(0, 0, 0, 0.233), calc(2 * var(--horiz)) calc(2 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.20), calc(3 * var(--horiz)) calc(3 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.123), calc(5 * var(--horiz)) calc(5 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.076), calc(8 * var(--horiz)) calc(8 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.047), calc(13 * var(--horiz)) calc(13 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.028);
    border: 1px solid rgba(0, 0, 0, 0.068);
    

}
nav li {
    list-style:none;
    display: inline-block;
    margin-right: 10px;
    padding:10px;
    background-color: #f1f1f1;
    box-shadow: inset calc(clamp(0px, var(--horiz), 2px)) calc(clamp(0px, var(--vert), 2px)) 2px calc(var(--spread)) rgba(0, 0, 0, 0.233), inset calc(2 * var(--horiz)) calc(2 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.20), inset calc(3 * var(--horiz)) calc(3 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.123), inset calc(5 * var(--horiz)) calc(5 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.076), inset calc(8 * var(--horiz)) calc(8 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.047), inset calc(13 * var(--horiz)) calc(13 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.028);
    border: 1px solid rgba(0, 0, 0, 0.068);
    border-radius: 15px;
}

nav li a{
    text-decoration: none;
    color: black;
    padding:10px;
    transition: all 0.3s ease-in-out;
    border-radius:15px;
}

nav li a:hover{
    color: #f1f1f1;
    background-color:#333;
}   

@media screen and (min-width: 600px) {
    body {
        background-color:palegreen;
    }
    .column {
        float: left;
        width: 33.33%;
    }
    .row:after{
        content:"";        
        display:table;
        clear:both;
    }
    
}


