body{
    font-family: sans-serif;
    padding:2.5%;
    background-color: lightskyblue;
    transition: all 0.3s ease-in-out;
}
.column{
    width:100%;
}

footer{
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem;
}

@media screen and (min-width: 600px) {
    body {
        background-color:palegreen;
    }
    .column {
        float: left;
        width: 33.33%;
    }
    .row:after{
        content:"";        
        display:table;
        clear:both;
    }
    
}


