*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    padding:2.5%;
    background-color: lightskyblue;
    transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 600px) {
    body {
        background-color: palegreen;
    }
}

